Repository tqer39/terraform-vercel, changes with the labels that .github/labeler.yml gives for each.
All labels: editorconfig, document, terraform, textlint, yamllint, markdownlint, asdf, CODEOWNERS

🍱 Add action. aws-credential
  .github/actions/aws-credential/action.yml
Labels: none

🍱 Add action. setup terraform
  .github/actions/setup-terraform/action.yml
Labels: none

🍱 Add terraform provider lock
  .github/workflows/terraform-renovate.yml
Labels: terraform

🍱 Add action. terraform validate
  .github/actions/terraform-validate/action.yml
Labels: terraform

🍱 Vercelのプロジェクトを作成するmoduleを追加
  cspell.json
  terraform/modules/vercel/outputs.tf
  terraform/modules/vercel/provider.tf
  terraform/modules/vercel/terraform.tf
  terraform/modules/vercel/variables.tf
  terraform/modules/vercel/vercel_project.tf
Labels: none

🍱 github/blogと連携するblogプロジェクトの作成
  cspell.json
  terraform/src/blog/main.tf
  terraform/src/blog/provider.tf
  terraform/src/blog/terraform.tf
  terraform/src/blog/variables.tf
Labels: none

🍱 Add terraform-docs
  .github/workflows/terraform-docs.yml
Labels: terraform

🍱 Add set-matrix
  .github/actions/set-matrix/action.yml
  .github/scripts/check-for-changes-in-terraform-files.sh
  cspell.json
Labels: none

🍱 Add terraform apply
  .github/actions/terraform-apply/action.yml
Labels: terraform

🍱 Add terraform plan
  .github/actions/terraform-plan/action.yml
Labels: terraform

🍱 Add deploy pipeline: portfolio
  .github/actions/set-matrix/action.yml
  .github/actions/terraform-plan/action.yml
  .github/workflows/_terraform-aws-portfolio.yml
  .github/workflows/deploy_pipeline/portfolio
Labels: terraform

🍱 add terraform vercel (#27)
  .github/actions/aws-credential/action.yml
  .github/actions/set-matrix/action.yml
  .github/actions/setup-terraform/action.yml
  .github/actions/terraform-apply/action.yml
  .github/actions/terraform-plan/action.yml
  .github/actions/terraform-validate/action.yml
  .github/scripts/check-for-changes-in-terraform-files.sh
  .github/workflows/_terraform-aws-portfolio.yml
  .github/workflows/deploy_pipeline/portfolio
  .github/workflows/terraform-docs.yml
  .github/workflows/terraform-renovate.yml
  cspell.json
  terraform/modules/vercel/USAGE.md
  terraform/modules/vercel/outputs.tf
  terraform/modules/vercel/provider.tf
  terraform/modules/vercel/terraform.tf
  terraform/modules/vercel/variables.tf
  terraform/modules/vercel/vercel_project.tf
  terraform/src/blog/main.tf
  terraform/src/blog/provider.tf
  terraform/src/blog/terraform.tf
  terraform/src/blog/variables.tf
Labels: document, terraform

♻️ ファイル名をsnake_caseに変更
  .github/actions/set-matrix/action.yml
  .github/scripts/check_for_changes_in_terraform_files.sh
Labels: none

♻️ Delete PR Commentを追加
  .github/actions/terraform-plan/action.yml
  .github/scripts/delete_pr_comment.graphql
  .github/scripts/delete_pr_comments.sh
  .github/scripts/get_pr_comments.graphql
  .github/workflows/_terraform-aws-portfolio.yml
Labels: terraform

✏️ typo
  .github/workflows/_terraform-aws-portfolio.yml
Labels: none

🐛 式の不正を修正
  .github/workflows/_terraform-aws-portfolio.yml
Labels: none

✏️ パスを修正
  .github/workflows/_terraform-aws-portfolio.yml
Labels: none

🍱 型エラーが発生したので修正
  terraform/src/blog/variables.tf
Labels: none

♻️ sensitiveを設定
  terraform/src/blog/variables.tf
Labels: none

♻️ Feature/refactoring (#35)
  .github/actions/set-matrix/action.yml
  .github/actions/terraform-plan/action.yml
  .github/scripts/check_for_changes_in_terraform_files.sh
  .github/scripts/delete_pr_comment.graphql
  .github/scripts/delete_pr_comments.sh
  .github/scripts/get_pr_comments.graphql
  .github/workflows/_terraform-aws-portfolio.yml
  terraform/src/blog/variables.tf
Labels: terraform

🍱 Add CHECK_DIFF
  .github/actions/terraform-plan/action.yml
  .github/workflows/_terraform-aws-portfolio.yml
Labels: terraform

♻️ Add lockfile
  terraform/src/blog/.terraform.lock.hcl
Labels: none

🐛 Add VERCEL_API_TOKEN
  .github/actions/terraform-plan/action.yml
  .github/workflows/_terraform-aws-portfolio.yml
Labels: terraform

🍱 Add CHECK_DIFF (#38)
  .github/actions/terraform-plan/action.yml
  .github/workflows/_terraform-aws-portfolio.yml
  terraform/src/blog/.terraform.lock.hcl
Labels: terraform

♻️ AZ順にソート
  .github/actions/terraform-plan/action.yml
  .github/workflows/_terraform-aws-portfolio.yml
Labels: terraform

🐛 Add Vercel API Token
  .github/actions/terraform-apply/action.yml
  .github/workflows/_terraform-aws-portfolio.yml
Labels: terraform

Feature/refactoring (#39)
  .github/actions/terraform-apply/action.yml
  .github/actions/terraform-plan/action.yml
  .github/workflows/_terraform-aws-portfolio.yml
Labels: terraform

.github/labeler.yml:

"editorconfig":
  - ".editorconfig"

"document":
  - "**/*.md"
  - "**/*.txt"
  - "**/*.rst"
  - "LICENSE"

"terraform":
  - ".github/actions/terraform**/action.yml"
  - ".github/workflows/terraform**.yml"

"textlint":
  - "**/.textlint*"

"yamllint":
  - "**/.yamllint"

"markdownlint":
  - "**/.markdownlint*.json"

"asdf":
  - "**/.tool-versions"

"CODEOWNERS":
  - "CODEOWNERS"
